layout {

    focus-ring {
        active-color   "#dcedf9"
        inactive-color "#092234"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#dcedf9"
        inactive-color "#092234"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#09223470"
    }

    tab-indicator {
        active-color   "#dcedf9"
        inactive-color "#33a1ef"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#dcedf980"
    }
}

recent-windows {
    highlight {
        active-color "#dcedf9"
        urgent-color "#fd4663"
    }
}
