layout {

    focus-ring {
        active-color   "#677de4"
        inactive-color "#141829"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#677de4"
        inactive-color "#141829"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#14182970"
    }

    tab-indicator {
        active-color   "#677de4"
        inactive-color "#0c228d"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#677de480"
    }
}

recent-windows {
    highlight {
        active-color "#677de4"
        urgent-color "#fd4663"
    }
}
