layout {

    focus-ring {
        active-color   "#f4c787"
        inactive-color "#292014"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#f4c787"
        inactive-color "#292014"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#29201470"
    }

    tab-indicator {
        active-color   "#f4c787"
        inactive-color "#c77502"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#f4c78780"
    }
}

recent-windows {
    highlight {
        active-color "#f4c787"
        urgent-color "#fd4663"
    }
}
